/* .ad{
 

    color:green;

text-align: center
}
.p{
    border-style: solid;
    margin: 20 20 30 10;
    padding: 20px
    
 

} */

.p{
    border-style: solid;
background-color: blue;
color:blue;
height: 100px;
width: 600px
}

.h1{
    border-style: solid;
    background-color:red;
    height: 100px;
    color:red;
    width: 600px
}
.h2{
    border-style: solid;
    background-color: green;
    height: 100px;
    color:green;
    width: 600px
}